<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>XPerience | Shop All you Want</title>
    <link rel="icon" href="/static/images/XPerience-LOGO only.png" /
    >
    <!--Animation-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <!-- Bootstrap icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/customers_css/landingpage.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-navbar">
      <div class="container px-4 px-lg-5">
        <!-- Logo and Brand -->
        <div class="d-flex align-items-center">
          <img
            src="/static/images/XPerience-LOGO only.png"
            alt="Logo"
            class="navbar-logo"
          />
          <a class="navbar-brand" href="#!">XPerience</a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('LandingPage') }}"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{{ url_for('LandingPage') }}"
                    >All Products</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('CampingHikingGear') }}"
                    >Camping and Hiking Gear</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('ExerciseFitnessGear') }}"
                    >Exercise and Fitness Gear</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('SportsEquipment') }}"
                    >Sports Equipment</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('OutdoorClothing') }}"
                    >Outdoor Clothing</a
                  >
                </li>
              </ul>
            </li>
          
        
          </ul>
          <div class="input-group me-auto" style="width: 48%;" >
            <input class="form-control" type="search" id="searchInput" placeholder="Search product" aria-label="Search" style=" border-right: none;">
            <span class="input-group-text" style="border-left: none;">
              <i class="fa fa-search"></i> <!-- Replace with your desired icon -->
            </span>
          </div>

          <form class="d-flex " style="margin-left: 4rem;">
            <a class="btn btn-outline-dark" href="{{ url_for('Cart') }}">
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span
                id="cart-badge"
                class="badge bg-dark text-white ms-1 rounded-pill"
                >{{ cart_count }}</span
              >
            </a>
          </form>

          <!-- Profile Section -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              <img
              src="{% if user_image and user_image.profile %}data:image/{{ user_image.mime_type }};base64,{{ user_image.profile }}{% else %}/static/images/default_image.jpg{% endif %}"
              class="rounded-circle ms-2"
              height="32"
              width="35"
              alt="Avatar"
              loading="lazy"
          />
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{{ url_for('MyProfile') }}"
                    >My profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('MyOrder') }}"
                    >My orders</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('SellerDashboard') }}"
                    >My shop</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('Login') }}"
                    >Logout</a
                  >
                </li>
                
              </ul>
            </li>
          </ul>
          <!-- End Profile Section -->
        </div>
      </div>
    </nav>

    <!-- Header-->
    <header class="py-5">
     
      <div class="container-fluid text-white text-center py-5" style="background-color: #0061F7;">
        <h2>Welcome to Our Sports and Outdoor Clothing Store</h2>
        <p>Discover the latest trends and gear for your outdoor adventures.</p>
        <button class="btn btn-outline-light btn-lg" id="shopNowButton">Shop Now</button>
    </div>
        <!-- End Image Carousel -->
     
    </header>

    <!--Top Products-->
    <section class="mt-2" id="topProductsSection">

    <section class="container">
     
        <h2 class="mb-4 d-flex justify-content-between align-items-center">
          <span class="mr-2">Top Products</span>
        
        </h2>

        <div class="row">
          {% set initialDelay = 0 %} 
          {% for product in outdoor_clothing %}
            {% if loop.index <= 4 %}
            <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
             data-aos-delay="{{ initialDelay + loop.index * 200 }}">
              <div class="card clickable-card" data-product-id="{{ product.id }}">
                <!-- Product image -->
                <div class="img-container" style="background-color: #F3F3F3;">
                  <img class="card-img-top" src="data:{{ product.mime_type }};base64, {{ product.product_image }}" alt="{{ product.name }}" height="200">
                </div>
                <!-- Product details -->
                <div class="card-body">
                  <div style="line-height: 1.7;">
                    <span style="color: #686665; font-size: 0.875rem;float: right;">{{product.sold}} sold</span>
                    <!-- Product name-->
                    <span style="font-size: 18px;" class="fw-bolder">
                      {{ product.product_name }}
                    </span>
              
                    <br>
                    <!-- Product description-->
                    <span style="color: #686665; font-size: 0.875rem;">{{ product.product_details|truncate_text(20) }}</span>
                    <br>
                    <!-- Product price-->
                    <span style="font-size: 16px;" class="fw-bold">₱{{ product.price }}</span>
                    <div
                    class="small text-warning mb-2" style="display: flex;"
                  >
                  {% for _ in range(5) %}
                  {% if loop.index <= product.average_rating %}
                      <div class="bi-star-fill"></div>
                  {% else %}
                      <div class="bi-star"></div>
                  {% endif %}
              {% endfor %}
                  </div>
                    <div class="mt-2" id="addToCartButton">
                      <!-- Add to Cart button -->
                      <button type="button" style="border-radius: 20px; font-weight: 650;"
                      class="btn btn-outline-dark add-cart" data-product-id="{{ product.id }}"
                     >
                      Add to Cart
                  </button>
                    </div>
                  </div>
                </div>
                <!-- Product actions -->
                <div class="card-footer border-top-0 bg-transparent">
                  <!-- Add any product-specific actions here if needed -->
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        
        
        </div>

    </section>



    <!--Outdoor Clothing-->
    <section class="mt-5">

      <section class="container">
    
          <h2 class="mb-4 d-flex justify-content-between align-items-center">
            <span class="mr-2">Outdoor Clothing</span>
            <a href="{{ url_for('OutdoorClothing') }}" class="fs-5">See All Products</a>
          </h2>
  
          <div class="row">
            {% set initialDelay = 0 %}  
            {% for product in outdoor_clothing %}
              {% if loop.index <= 4 %}
              <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" 
              data-aos-delay="{{ initialDelay + loop.index * 200 }}">
                <div class="card clickable-card" data-product-id="{{ product.id }}">
                  <!-- Product image -->
                  <div class="img-container" style="background-color: #F3F3F3;">
                    <img class="card-img-top" src="data:{{ product.mime_type }};base64, {{ product.product_image }}" alt="{{ product.name }}" height="200">
                  </div>
                  <!-- Product details -->
                  <div class="card-body">
                    <div style="line-height: 1.7;">
                      <span style="color: #686665; font-size: 0.875rem;float: right;">{{product.sold}} sold</span>
                      <!-- Product name-->
                      <span style="font-size: 18px;" class="fw-bolder">
                        {{ product.product_name }}
                      </span>
                      <br>
                      <!-- Product description-->
                      <span style="color: #686665; font-size: 0.875rem;">{{ product.product_details|truncate_text(20) }}</span>
                      <br>
                      <!-- Product price-->
                      <span style="font-size: 16px;" class="fw-bold">₱{{ product.price }}</span>
                      <div
                      class="small text-warning mb-2" style="display: flex;"
                    >
                    {% for _ in range(5) %}
                    {% if loop.index <= product.average_rating %}
                        <div class="bi-star-fill"></div>
                    {% else %}
                        <div class="bi-star"></div>
                    {% endif %}
                {% endfor %}
                    </div>
                      <div class="mt-2" id="addToCartButton">
                        <!-- Add to Cart button -->
                        <button type="button" style="border-radius: 20px; font-weight: 650;" class="btn btn-outline-dark add-cart" data-product-id="{{ product.id }}">
                          Add to Cart
                      </button>
                      </div>
                    </div>
                  </div>
                  <!-- Product actions -->
                  <div class="card-footer border-top-0 bg-transparent">
                    <!-- Add any product-specific actions here if needed -->
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}

      </section>

      <!--Exercise and Fitness Gear-->
      <section class="mt-5">

      
        <section class="container">
    
          <h2 class="mb-4 d-flex justify-content-between align-items-center">
            <span class="mr-2">Exercise and Fitness Gear</span>
            <a href="{{ url_for('ExerciseFitnessGear') }}" class="fs-5">See All Products</a>
          </h2>
  
          <div class="row">
            {% set initialDelay = 0 %}  
            {% for product in exercise_products %}
              {% if loop.index <= 4 %}
              <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
               data-aos-delay="{{ initialDelay + loop.index * 200 }}">
                <div class="card clickable-card" data-product-id="{{ product.id }}">
                  <!-- Product image -->
                  <div class="img-container" style="background-color: #F3F3F3;">
                    <img class="card-img-top" src="data:{{ product.mime_type }};base64, {{ product.product_image }}" alt="{{ product.name }}" height="200">
                  </div>
                  <!-- Product details -->
                  <div class="card-body">
                    <div style="line-height: 1.7;">
                      <span style="color: #686665; font-size: 0.875rem;float: right;">{{product.sold}} sold</span>
                      <!-- Product name-->
                      <span style="font-size: 18px;" class="fw-bolder">
                        {{ product.product_name }}
                      </span>
                      <br>
                      <!-- Product description-->
                      <span style="color: #686665; font-size: 0.875rem;">{{ product.product_details|truncate_text(20) }}</span>
                      <br>
                      <!-- Product price-->
                      <span style="font-size: 16px;" class="fw-bold">₱{{ product.price }}</span>
                      <div
                      class="small text-warning mb-2" style="display: flex;"
                    >
                    {% for _ in range(5) %}
                    {% if loop.index <= product.average_rating %}
                        <div class="bi-star-fill"></div>
                    {% else %}
                        <div class="bi-star"></div>
                    {% endif %}
                {% endfor %}
                    </div>
                      <div class="mt-2" id="addToCartButton">
                        <!-- Add to Cart button -->
                        <button type="button" style="border-radius: 20px; font-weight: 650;" class="btn btn-outline-dark add-cart" data-product-id="{{ product.id }}">
                          Add to Cart
                      </button>
                      </div>
                    </div>
                  </div>
                  <!-- Product actions -->
                  <div class="card-footer border-top-0 bg-transparent">
                    <!-- Add any product-specific actions here if needed -->
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}

      </section>

        <!--Sports Equipment-->
        <section class="mt-5">
          <section class="container">
    
            <h2 class="mb-4 d-flex justify-content-between align-items-center">
              <span class="mr-2">Sports Equipment</span>
              <a href="{{ url_for('SportsEquipment') }}" class="fs-5">See All Products</a>
            </h2>
    
            <div class="row">
              {% set initialDelay = 0 %}  
              {% for product in sports_products %}
                {% if loop.index <= 4 %}
                <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="{{ initialDelay + loop.index * 200 }}">
                  <div class="card clickable-card" data-product-id="{{ product.id }}">
                    <!-- Product image -->
                    <div class="img-container" style="background-color: #F3F3F3;">
                      <img class="card-img-top" src="data:{{ product.mime_type }};base64, {{ product.product_image }}" alt="{{ product.name }}" height="200">
                    </div>
                    <!-- Product details -->
                    <div class="card-body">
                      <div style="line-height: 1.7;">
                        <span style="color: #686665; font-size: 0.875rem;float: right;">{{product.sold}} sold</span>
                        <!-- Product name-->
                        <span style="font-size: 18px;" class="fw-bolder">
                          {{ product.product_name }}
                        </span>
                        <br>
                        <!-- Product description-->
                        <span style="color: #686665; font-size: 0.875rem;">{{ product.product_details|truncate_text(20) }}</span>
                        <br>
                        <!-- Product price-->
                        <span style="font-size: 16px;" class="fw-bold">₱{{ product.price }}</span>
                        <div
                        class="small text-warning mb-2" style="display: flex;"
                      >
                      {% for _ in range(5) %}
        {% if loop.index <= product.average_rating %}
            <div class="bi-star-fill"></div>
        {% else %}
            <div class="bi-star"></div>
        {% endif %}
    {% endfor %}
                      </div>
                        <div class="mt-2" id="addToCartButton">
                          <!-- Add to Cart button -->
                          <button type="button" style="border-radius: 20px; font-weight: 650;" class="btn btn-outline-dark add-cart" data-product-id="{{ product.id }}">
                            Add to Cart
                        </button>
                        </div>
                      </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer border-top-0 bg-transparent">
                      <!-- Add any product-specific actions here if needed -->
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
  
        </section>

          <!--Camping and Hiking Gear-->

          <section class="mt-5">

            <section class="container">
    
              <h2 class="mb-4 d-flex justify-content-between align-items-center">
                <span class="mr-2">Camping and Hiking Gear</span>
                <a href="{{ url_for('CampingHikingGear') }}" class="fs-5">See All Products</a>
              </h2>
      
              <div class="row">
                {% set initialDelay = 0 %} 
                {% for product in camping_products %}
                  {% if loop.index <= 4 %}
                  <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-duration="1000" 
                  data-aos-once="true" data-aos-delay="{{ initialDelay + loop.index * 200 }}">
                    <div class="card clickable-card" data-product-id="{{ product.id }}">
                      <!-- Product image -->
                      <div class="img-container" style="background-color: #F3F3F3;">
                        <img class="card-img-top" src="data:{{ product.mime_type }};base64, {{ product.product_image }}" alt="{{ product.name }}" height="200">
                      </div>
                      <!-- Product details -->
                      <div class="card-body">
                        <div style="line-height: 1.7;">
                          <span style="color: #686665; font-size: 0.875rem;float: right;">{{product.sold}} sold</span>
                          <!-- Product name-->
                          <span style="font-size: 18px;" class="fw-bolder">
                            {{ product.product_name }}
                          </span>
                          <br>
                          <!-- Product description-->
                          <span style="color: #686665; font-size: 0.875rem;">{{ product.product_details|truncate_text(20) }}</span>
                          <br>
                          <!-- Product price-->
                          <span style="font-size: 16px;" class="fw-bold">₱{{ product.price }}</span>
                          <div
                          class="small text-warning mb-2" style="display: flex;"
                        >
                        {% for _ in range(5) %}
        {% if loop.index <= product.average_rating %}
            <div class="bi-star-fill"></div>
        {% else %}
            <div class="bi-star"></div>
        {% endif %}
    {% endfor %}
                        </div>
                          <div class="mt-2" id="addToCartButton">
                            <!-- Add to Cart button -->
                            <button type="button" style="border-radius: 20px; font-weight: 650;" class="btn btn-outline-dark add-cart" data-product-id="{{ product.id }}">
                              Add to Cart
                          </button>
                          </div>
                        </div>
                      </div>
                      <!-- Product actions -->
                      <div class="card-footer border-top-0 bg-transparent">
                        <!-- Add any product-specific actions here if needed -->
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
    
          </section>
          <div class="modal fade" id="productExistsModal" tabindex="-1" aria-labelledby="productExistsModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="productExistsModalLabel">Product Already in Cart</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      This product is already in your cart.
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
    

    <!-- Footer-->
  
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>
    
       
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-twitter"></i
          ></a>
    
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-google"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-instagram"></i
          ></a>
    
      
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-linkedin"></i
          ></a>
    
 
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
  
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white">XPerience</a>
      </div>
      <!-- Copyright -->
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!--ANimation-->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
        // Add a smooth scroll effect when clicking the "Shop Now" button
        document.getElementById('shopNowButton').addEventListener('click', function () {
            document.getElementById('topProductsSection').scrollIntoView({
                behavior: 'smooth'
            });
        });
    </script>
    <script src="/static/js/addtocart.js"></script>
    <script src="/static/js/landingpage.js"></script>
  </body>
</html>
