<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Profile</title>
    <link rel="icon" href="/static/images/XPerience-LOGO only.png" />
    <link rel="stylesheet" href="/static/css/customers_css/profile.css">
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-wsxDvYSu5qW1HWu8ATbH9s/Fb3QiHiZ17eTtJIpcaTQl6oH5IVOMIIEbpMbYQGQ4" crossorigin="anonymous">
    <link
    
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/static/css/customers_css/my_profile.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-navbar">
      <div class="container px-4 px-lg-5">
        <!-- Logo and Brand -->
        <div class="d-flex align-items-center">
          <img
            src="/static/images/XPerience-LOGO only.png"
            alt="Logo"
            class="navbar-logo"
          />
          <a class="navbar-brand" href="#!">XPerience</a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('LandingPage') }}"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{{ url_for('LandingPage') }}"
                    >All Products</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('CampingHikingGear') }}"
                    >Camping and Hiking Gear</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('ExerciseFitnessGear') }}"
                    >Exercise and Fitness Gear</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('SportsEquipment') }}"
                    >Sports Equipment</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('OutdoorClothing') }}"
                    >Outdoor Clothing</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-dark" href="{{ url_for('Cart') }}">
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span
                id="cart-badge"
                class="badge bg-dark text-white ms-1 rounded-pill"
                >{{ cart_count }}</span
              >
            </a>
          </form>

          <!-- Profile Section -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/static/images/danzel.png"
                  class="rounded-circle ms-2"
                  height="32"
                  width="35"
                  alt="Avatar"
                  loading="lazy"
                />
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{{ url_for('MyProfile') }}"
                    >My profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('Login') }}"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <!-- End Profile Section -->
        </div>
      </div>
    </nav>

    <div class="container mt-5 mb-3">
      <div class="row">
          <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
              <h3>My Profile</h3>
              <hr>
            </div>
            <!-- Form START -->
            <form class="file-upload">
              <div class="row mb-5 gx-5">
                <!-- Contact detail -->
                <div class="col-xxl-8 mb-5 mb-xxl-0">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="mb-4 mt-0">Contact detail</h4>
                      <!-- First Name -->
                      <div class="col-md-6">
                        <label class="form-label">First Name *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="First name" value="Scaralet">
                      </div>
                      <!-- Last name -->
                      <div class="col-md-6">
                        <label class="form-label">Last Name *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Last name" value="Doe">
                      </div>
                      <!-- Phone number -->
                      <div class="col-md-6">
                        <label class="form-label">Phone number *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="(333) 000 555">
                      </div>
                      <!-- Mobile number -->
                      <div class="col-md-6">
                        <label class="form-label">Mobile number *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="+91 9852 8855 252">
                      </div>
                      <!-- Email -->
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
                      </div>
                      <!-- Skype -->
                      <div class="col-md-6">
                        <label class="form-label">Skype *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="Scaralet D">
                      </div>
                    </div> <!-- Row END -->
                  </div>
                </div>
                <!-- Upload profile -->
                <div class="col-xxl-4">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                      <div class="text-center">
                        <!-- Image upload -->
                        <div class="square position-relative display-2 mb-3">
                          <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                        </div>
                        <!-- Button -->
                        <input type="file" id="customFile" name="file" hidden="">
                        <label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
                        <button type="button" class="btn btn-danger-soft">Remove</button>
                        <!-- Content -->
                        <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- Row END -->
      
              <!-- Social media detail -->
              <div class="row mb-5 gx-5">
                <div class="col-xxl-6 mb-5 mb-xxl-0">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="mb-4 mt-0">Social media detail</h4>
                      <!-- Facebook -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Facebook" value="http://www.facebook.com">
                      </div>
                      <!-- Twitter -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Twitter" value="http://www.twitter.com">
                      </div>
                      <!-- Linkedin -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Linkedin" value="http://www.linkedin.com">
                      </div>
                      <!-- Instragram -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Instragram" value="http://www.instragram.com">
                      </div>
                      <!-- Dribble -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Dribble" value="http://www.dribble.com">
                      </div>
                      <!-- Pinterest -->
                      <div class="col-md-6">
                        <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest *</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Pinterest" value="http://www.pinterest.com">
                      </div>
                    </div> <!-- Row END -->
                  </div>
                </div>
      
                <!-- change password -->
                <div class="col-xxl-6">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="my-4">Change Password</h4>
                      <!-- Old password -->
                      <div class="col-md-6">
                        <label for="exampleInputPassword1" class="form-label">Old password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <!-- New password -->
                      <div class="col-md-6">
                        <label for="exampleInputPassword2" class="form-label">New password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                      </div>
                      <!-- Confirm password -->
                      <div class="col-md-12">
                        <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                        <input type="password" class="form-control" id="exampleInputPassword3">
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- Row END -->
              <!-- button -->
              <div class="gap-3 d-md-flex justify-content-md-end text-center">
                <button type="button" class="btn btn-danger btn-lg">Delete profile</button>
                <button type="button" class="btn btn-primary btn-lg">Update profile</button>
              </div>
            </form> <!-- Form END -->
          </div>
        </div>
        </div>

    <!-- Modal for "Become a Seller?" -->
    <div
      class="modal fade"
      id="sellerModal"
      tabindex="-1"
      aria-labelledby="sellerModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header header--gradient">
            <h5 class="modal-title" id="sellerModalLabel">Become a Seller?</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>This will notify the Admin and Approve Your Application</p>
            <form>
              <div class="mb-3">
                <label for="sellerEmail" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="sellerEmail"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="confirmSellerEmail" class="form-label"
                  >Confirm Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="confirmSellerEmail"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-start">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/addtocart.js"></script>
  </body>
</html>
