<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>XPerience | Shop All you Want</title>
    <link rel="icon" href="/static/images/XPerience-LOGO only.png" />
    <!-- Bootstrap icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/landingpage.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-navbar">
      <div class="container px-4 px-lg-5">
        <!-- Logo and Brand -->
        <div class="d-flex align-items-center">
          <img
            src="/static/images/XPerience-LOGO only.png"
            alt="Logo"
            class="navbar-logo"
          />
          <a class="navbar-brand" href="#!">XPerience</a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('LandingPage') }}"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Camping and Hiking Gear</a></li>
                <li><a class="dropdown-item" href="#!">Exercise and Fitness Gear</a></li>
                <li><a class="dropdown-item" href="#!">Sports Equipment</a></li>
                <li><a class="dropdown-item" href="#!">Outdoor Clothing</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-dark" href="{{ url_for('Cart') }}">
              <i class="bi-cart-fill me-1"></i>
              Cart
          <span id="cart-badge" class="badge bg-dark text-white ms-1 rounded-pill">{{ cart_count }}</span>
            </a>
          </form>

          <!-- Profile Section -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="../static/images/nigs.png"
                  class="rounded-circle ms-2"
                  height="32"
                  width="35"
                  alt="Avatar"
                  loading="lazy"
                />
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{{ url_for('MyProfile') }}"
                    >My profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('Login') }}"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <!-- End Profile Section -->
        </div>
      </div>
    </nav>



    <!--Top Products-->
 

    <section class="mt-5 py-3">
      <div class="container px-5 px-lg-5 mt-5">
        <h2 class="mb-4 d-flex justify-content-between align-items-center">
          <span class="mr-2">Sports Equipment</span>
        
        </h2>

        <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="/static/images/baseball_bat.jpg"
              alt="..." height="200"
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">
                 baseball bat
                </h5>
                <!-- Product price-->
                ₱14,499.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto add-to-cart"
                  >Add to Cart</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <!-- Product image-->
            <img
              class="card-img-top"
              src="/static/images/basketball.webp"
              alt="..." height="200"
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">basketball</h5>
                <!-- Product reviews-->
                <div
                  class="d-flex justify-content-center small text-warning mb-2"
                >
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"
                  >₱1,043.00</span
                >
                ₱599.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto add-to-cart"
                  >Add to Cart</a
                >
              </div>
            </div>
          </div>
        </div>
        
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <!-- Product image-->
            <img
              class="card-img-top"
              src="/static/images/baseball_gloves.jpg"
              alt="..." height="200"
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class=" product-name fw-bolder">Convertible pants</h5>
                <!-- Product price-->
                <div class="description-cont" style="line-height: 0.8; font-family: assistant, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; color: rgba(18, 18, 18, 0.75);">
               
                  <p class="price">₱900</p>
                  
                  <p >Color: <span class="color"> Gray</span></p>
                  <p>Size: <span class="size">XL</span> </p>
                </div>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto add-to-cart"
                  >Add to Cart</a
                >
              </div>
            </div>
          </div>  
        </div>

        <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="/static/images/baseball_gloves.jpg"
                alt="..." height="200"
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class=" product-name fw-bolder">Convertible pants</h5>
                  <!-- Product price-->
                  <div class="description-cont" style="line-height: 0.8; font-family: assistant, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; color: rgba(18, 18, 18, 0.75);">
                 
                    <p class="price">₱900</p>
                    
                    <p >Color: <span class="color"> Gray</span></p>
                    <p>Size: <span class="size">XL</span> </p>
                  </div>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto add-to-cart"
                    >Add to Cart</a
                  >
                </div>
              </div>
            </div>  
          </div>

          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="/static/images/baseball_gloves.jpg"
                alt="..." height="200"
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class=" product-name fw-bolder">Convertible pants</h5>
                  <!-- Product price-->
                  <div class="description-cont" style="line-height: 0.8; font-family: assistant, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; color: rgba(18, 18, 18, 0.75);">
                 
                    <p class="price">₱900</p>
                    
                    <p >Color: <span class="color"> Gray</span></p>
                    <p>Size: <span class="size">XL</span> </p>
                  </div>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto add-to-cart"
                    >Add to Cart</a
                  >
                </div>
              </div>
            </div>  
          </div>

          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="/static/images/baseball_gloves.jpg"
                alt="..." height="200"
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class=" product-name fw-bolder">Convertible pants</h5>
                  <!-- Product price-->
                  <div class="description-cont" style="line-height: 0.8; font-family: assistant, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; color: rgba(18, 18, 18, 0.75);">
                 
                    <p class="price">₱900</p>
                    
                    <p >Color: <span class="color"> Gray</span></p>
                    <p>Size: <span class="size">XL</span> </p>
                  </div>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto add-to-cart"
                    >Add to Cart</a
                  >
                </div>
              </div>
            </div>  
          </div>

          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="/static/images/baseball_gloves.jpg"
                alt="..." height="200"
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class=" product-name fw-bolder">Convertible pants</h5>
                  <!-- Product price-->
                  <div class="description-cont" style="line-height: 0.8; font-family: assistant, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; color: rgba(18, 18, 18, 0.75);">
                 
                    <p class="price">₱900</p>
                    
                    <p >Color: <span class="color"> Gray</span></p>
                    <p>Size: <span class="size">XL</span> </p>
                  </div>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto add-to-cart"
                    >Add to Cart</a
                  >
                </div>
              </div>
            </div>  
          </div>

        <div class="col mb-5">
          <div class="card h-100">
              <!-- Product image -->
              <img class="product-image" src="/static/images/trail_running_shoes.jpg" alt="Trail running shoes" height="200" />
              <!-- Product details -->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name -->
                      <h5 class="product-name fw-bolder">Trail running shoes</h5>
                      <!-- Product price -->
                      <div class="product-price">
                          ₱899
                      </div>
                  </div>
              </div>
              <!-- Product actions -->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                      <!-- Hidden input fields for the product data -->
                      <input type="hidden" class="product-name" value="Trail running shoes">
                      <input type="hidden" class="product-price" value="899">
                      <button type="button" class="btn btn-outline-dark mt-auto add-to-cart">Add to Cart</button>
                      
                  </div>
              </div>
          
          </div>
      </div>
        </div>
        </div>
    </section>

    

    <!-- Footer-->
    <footer class="py-5 footer--bg">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright&copy; by: Danzel, Frenz, Red, and David 👉😙👈
        </p>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/addtocart.js"></script>
  </body>
</html>
