@import url(/fonts/stylesheet.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-logo {
  max-height: 32px; /* Adjust the size as needed */
  margin-right: 10px; /* Add margin for spacing */
}

.footer--bg {
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}

