@import url(/fonts/stylesheet.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-logo {
  max-height: 32px; /* Adjust the size as needed */
  margin-right: 10px; /* Add margin for spacing */
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}

.container-margin {
  margin-top: 120px;
}

.header--gradient {
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  color: white;
}
