
.navbar--bg,
.footer--bg {
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
}


.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
  }