<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | XPerience</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/images/XPerience-LOGO only.png" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
  </head>
  <body>
    <section class="side"></section>
    <section class="main">
      <div class="login-container">
        <center class="col-12 text-center">
          <p class="title">Welcome back</p>
          <div class="separator"></div>
          <p class="welcome-message">
            Please provide login credentials to proceed and have access to all
            our services.
          </p>

          <form
            class="login-form g-3"
            action="{{url_for('Login')}}"
            method="POST"
          >
            <div class="col-auto">
              <input
                name="username"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email address"
              />
            </div>
            <div class="col-auto">
              <input
                name="password"
                type="password"
                class="form-control"
                id="inputPassword2"
                placeholder="Password"
              />
            </div>
            <div class="col-auto">
              <button
                style="width: 100%"
                type="submit"
                class="btn btn-primary mb-3"
              >
                Login
              </button>
            </div>
          </form>
          {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          <p>
            Don't have an account?
            <a style="text-align: center" href="{{ url_for('SignUp') }}"
              >Sign Up</a
            >
          </p>
          <a style="text-align: center" href="{{ url_for('ForgotPassword') }}"
            >Forgot password?</a
          >
        </center>
      </div>
    </section>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/c8e4d183c2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
