*{
    margin: 0;
    padding: 0;
}


.card-body{

    height: 110px;
}
.top{
 margin-left: 10px;

  
}
#navb{
    display: none;
}

@media (max-width: 990px){
 
    .all-cards {
        flex-basis: 100% !important; /* Change to col-*-12 for small screens */
        max-width: 100% !important; /* Change to col-*-12 for small screens */
      }
      .offset-md-2, .offset-sm-2, .offset-lg-2 {
        margin-left: 0 !important; /* Remove offset for small screens */
      }
      .graphs{
        flex-basis: 100% !important; /* Change to col-*-12 for small screens */
        max-width: 100% !important; /* Change to col-*-12 for small screens */
      }
      .bar{
        flex-basis: 100% !important; /* Change to col-*-12 for small screens */
        max-width: 100% !important; /* Change to col-*-12 for small screens */
      }
       .top-sellers{
        flex-basis: 100% !important; /* Change to col-*-12 for small screens */
        max-width: 100% !important; /* Change to col-*-12 for small screens */
      }


}
.icon-number{
   display: flex;
}
.icon-number .number{
  
    width: 50%;
}
.icon-number .icon{

width: 50%;
}


.chartBox1{
border: solid #d1d1d1 1px;
    height: 300px;
 
}
.chartBox2{
    border: solid #d1d1d1 1px;
height: 300px;

}
